@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}
body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #111;
}
.testimonials
{
	position: relative;
	max-width: 100%;
	-webkit-box-reflect: below 1px linear-gradient(transparent 70%,#0009);
}
.swiper-slide
{
  background-position: center;
  background-size: cover;
  width: 350px;
  min-height: 300px;
  margin: 0 20px;
  box-shadow: none;
}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right
{
	background-image: none;
}
.testimonials .card
{
	position: relative;
	width: 100%;
	margin: 0 auto;
	background: #333;
	padding: 60px 40px;
	box-sizing: border-box;
	text-align: center;
	overflow: hidden;
}
.testimonials .card .layer
{
	position: absolute;
	top: calc(100% - 2px);
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
	z-index: 1;
	transition: 0.5s;
}
.testimonials .card:hover .layer
{
	top: 0;
}
.testimonials .card .content
{
	position: relative;
	z-index: 2;
}
.testimonials .card .content p
{
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 20px;
	color: #fff;
}
.testimonials .card .content .image
{
	width: 100px;
	height: 100px;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
	border: 4px solid #fff;
	box-shadow: 0 10px 20px rgba(0,0,0,.2);
	margin-bottom: 10px;
}
.testimonials .card .content .details h2
{
	font-size: 18px;
	color: #fff;
}
.testimonials .card .content .details h2 span
{
	color: #405de6;
	font-size: 14px;
	transition: 0.5s;
}
.testimonials .card:hover .content .details h2 span
{
	color: #fff;
}